# ON34 Python S08 Banco de dados II - Exercicio de aula

Esse documento tem como objetivo descrecer exercícios de uso de consultas de banco de dados.
Para tanto, será usada a Biblioteca SQLite para criarmos e manipularmos tabelas, suas relações e seus dados.

Neste [link](https://colab.research.google.com/drive/1iXh_l1R66L1B30lIj-oLATCwCLyWdF0u?usp=sharing) é possivel encontrar uma explicação completa de como a biblioteca funciona e suas principais features.

Para documentações oficiais use esse link da [biblioteca Python do SQLite](https://docs.python.org/3/library/sqlite3.html) e esse das [funções SQLite](https://www.sqlitetutorial.net/).

Sendo assim, a seguir vou passar mais para um caso de uso dessa aula, criar uma visão prática de uso de banco de dados.

# 1. Visualizando o banco

Nesse ponto, o objetivo principal é o entendimento do Banco de dados usado para os exercicos dessa aula.

Sendo assim, o caso que servirá de plano de fundo para esse exercicio é o da Companhia Aerea SAMBA em um arquivo chamado "dados_de_voo.db", que possui as seguintes tabelas já populadas:

![Banco de dados](https://drive.google.com/uc?export=view&id=1JUVNzdDnOEpS9UracGfdZcQKBllAANfS)

##Inserindo dados e populando

In [ ]:
# Importar a biblioteca
import sqlite3

#Criar uma conexão com um banco de dados (no nosso caso, não temos um arquivo de banco de dados pré feito, então decidiu-se inicializar um denominado dados_de_voo.db)
conn = sqlite3.connect("dados_de_voo.db")

# Criar um cursor no banco que permitirá o uso de comandos no formato SQL
cur  = conn.cursor()

In [ ]:
# Criando a tabela registro_passageiros
cur.execute("""
CREATE TABLE registro_passageiros (
  id_passageiro TEXT NOT NULL PRIMARY KEY,
  st_nome TEXT NOT NULL,
  st_categoria TEXT NOT NULL,
  st_sexo TEXT,
  dt_nascimento TEXT NOT NULL,
  st_nacionalidade TEXT NOT NULL,
  st_estado_civil TEXT NOT NULL
)
""")

# Criando a tabela restricao_alimentar
cur.execute("""
CREATE TABLE restricao_alimentar (
  id_passageiro TEXT NOT NULL,
  st_alergia_alimentar TEXT,
  st_restricao_alimentar TEXT,
  FOREIGN KEY (id_passageiro)
      REFERENCES registro_passageiros (id_passageiro)
         ON DELETE CASCADE
         ON UPDATE NO ACTION
)
""")

# Criando a tabela registro_refeicoes
cur.execute("""
CREATE TABLE registro_refeicoes(
  id_refeicao TEXT NOT NULL PRIMARY KEY,
  st_nome TEXT NOT NULL,
  float_custo REAL NOT NULL
)
""")

# Criando a tabela registro_alergicos
cur.execute("""
CREATE TABLE registro_alergicos(
  id_refeicao TEXT NOT NULL,
  st_alergico TEXT NOT NULL,
  FOREIGN KEY (id_refeicao)
      REFERENCES registro_refeicoes (id_refeicao)
         ON DELETE CASCADE
         ON UPDATE NO ACTION
)
""")

# Criando a tabela registro_voo
cur.execute("""
CREATE TABLE registro_voo(
  id_voo TEXT NOT NULL PRIMARY KEY,
  st_origem TEXT NOT NULL,
  st_destino TEXT NOT NULL,
  dt_voo TEXT NOT NULL
)
""")

In [ ]:
# Criando a tabela registro_passageiros (id_passageiro, st_nome, st_categoria, st_sexo, dt_nascimento, st_nacionalidade, st_estado_civil)
cur.execute("""
INSERT INTO registro_passageiros VALUES
  ('p1','Ana Antunes','Gold','F','14/06/1999','Brasileiro', 'solteiro(a)'),
  ('p2','Mario Marques','Silver','M','06/11/1980','Brasileiro', 'solteiro(a)'),
  ('p3','Maria Marques','Silver','F','16/10/1976','Brasileiro', 'divorciado(a)'),
  ('p4','Pietro Palmeira','Silver','M','26/10/1988','Português', 'casado(a)'),
  ('p5','Pamela Pluma Palmeira','Silver','F','26/10/1988','Brasileiro', 'Casado(a)'),
  ('p6','Saulo Sauro','Bronze','M','23/11/1998','Brasileiro', 'solteiro(a)'),
  ('p7','Volverine Valadares','Gold','M','04/04/2006','Brasileiro', 'solteiro(a)'),
  ('p8','Waldisney Washington','Gold','M','02/05/2000','Brasileiro', 'divorciado(a)'),
  ('p9','Daniel Dimes','Silver','M','17/09/1995','Brasileiro', 'solteiro(a)'),
  ('p10','Daniela Dimes','Silver','F','17/09/2023','Brasileiro', 'solteiro(a)')


""")
# Comitar as inserções
conn.commit()

#Verificar dados na tabela
res = cur.execute("SELECT * FROM registro_passageiros")
res.fetchall()

[('p1', 'Ana Antunes', 'Gold', 'F', '14/06/1999', 'Brasileiro', 'solteiro(a)'),
 ('p2',
  'Mario Marques',
  'Silver',
  'M',
  '06/11/1980',
  'Brasileiro',
  'solteiro(a)'),
 ('p3',
  'Maria Marques',
  'Silver',
  'F',
  '16/10/1976',
  'Brasileiro',
  'divorciado(a)'),
 ('p4',
  'Pietro Palmeira',
  'Silver',
  'M',
  '26/10/1988',
  'Português',
  'casado(a)'),
 ('p5',
  'Pamela Pluma Palmeira',
  'Silver',
  'F',
  '26/10/1988',
  'Brasileiro',
  'Casado(a)'),
 ('p6',
  'Saulo Sauro',
  'Bronze',
  'M',
  '23/11/1998',
  'Brasileiro',
  'solteiro(a)'),
 ('p7',
  'Volverine Valadares',
  'Gold',
  'M',
  '04/04/2006',
  'Brasileiro',
  'solteiro(a)'),
 ('p8',
  'Waldisney Washington',
  'Gold',
  'M',
  '02/05/2000',
  'Brasileiro',
  'divorciado(a)'),
 ('p9',
  'Daniel Dimes',
  'Silver',
  'M',
  '17/09/1995',
  'Brasileiro',
  'solteiro(a)'),
 ('p10',
  'Daniela Dimes',
  'Silver',
  'F',
  '17/09/2023',
  'Brasileiro',
  'solteiro(a)')]

In [ ]:
# Criando a tabela restricao_alimentar (id_passageiro, st_alergia_alimentar, st_restricao_alimentar)
cur.execute("""
INSERT INTO restricao_alimentar (id_passageiro, st_alergia_alimentar) VALUES
  ('p2','Lactose'),
  ('p3','Lactose'),
  ('p4','Frutos do Mar'),
  ('p4','Castanhas'),
  ('p7','Glutem'),
  ('p7','Frutos do Mar')
""")

cur.execute("""
INSERT INTO restricao_alimentar (id_passageiro, st_restricao_alimentar) VALUES
  ('p1','Vegano'),
  ('p8','Vegetariano')
""")

cur.execute("""
INSERT INTO restricao_alimentar VALUES
  ('p6','Castanhas','Vegetariano')
""")

# Comitar as inserções
conn.commit()

#Verificar dados na tabela
res = cur.execute("SELECT * FROM restricao_alimentar")
res.fetchall()

[('p2', 'Lactose', None),
 ('p3', 'Lactose', None),
 ('p4', 'Frutos do Mar', None),
 ('p4', 'Castanhas', None),
 ('p7', 'Glutem', None),
 ('p7', 'Frutos do Mar', None),
 ('p1', None, 'Vegano'),
 ('p8', None, 'Vegetariano'),
 ('p6', 'Castanhas', 'Vegetariano')]

In [ ]:
# Criando a tabela registro_refeicoes (id_refeicao, st_nome, float_custo)
cur.execute("""
INSERT INTO registro_refeicoes VALUES
  ('r1', 'Frango com Legumes', 20),
  ('r2', 'Picadinho de carne', 25),
  ('r3', 'Salada com castanhas', 15),
  ('r4', 'Risoto de Camarão', 30),
  ('r5', 'Hamburguer Combo', 35),
  ('r6', 'Hamburguer Vegano Combo', 30)
""")
# Comitar as inserções
conn.commit()

#Verificar dados na tabela
res = cur.execute("SELECT * FROM registro_refeicoes")
res.fetchall()

[('r1', 'Frango com Legumes', 20.0),
 ('r2', 'Picadinho de carne', 25.0),
 ('r3', 'Salada com castanhas', 15.0),
 ('r4', 'Risoto de Camarão', 30.0),
 ('r5', 'Hamburguer Combo', 35.0),
 ('r6', 'Hamburguer Vegano Combo', 30.0)]

In [ ]:
# Criando a tabela registro_alergicos (id_refeicao, st_alergico)
cur.execute("""
INSERT INTO registro_alergicos VALUES
  ('r1', "Vegetariano"),
  ('r1', "Vegano"),
  ('r1', "Glutem"),
  ('r2', "Vegetariano"),
  ('r2', "Vegano"),
  ('r2', "Glutem"),
  ('r3', "Castanhas"),
  ('r4', "Lactose"),
  ('r4', "Frutos do Mar"),
  ('r4', "Vegetariano"),
  ('r4', "Vegano"),
  ('r4', "Glutem"),
  ('r5', "Vegetariano"),
  ('r5', "Vegano"),
  ('r5', "Glutem"),
  ('r5', "Lactose")
""")
# Comitar as inserções
conn.commit()

#Verificar dados na tabela
res = cur.execute("SELECT * FROM registro_alergicos")
res.fetchall()

[('r1', 'Vegetariano'),
 ('r1', 'Vegano'),
 ('r1', 'Glutem'),
 ('r2', 'Vegetariano'),
 ('r2', 'Vegano'),
 ('r2', 'Glutem'),
 ('r3', 'Castanhas'),
 ('r4', 'Lactose'),
 ('r4', 'Frutos do Mar'),
 ('r4', 'Vegetariano'),
 ('r4', 'Vegano'),
 ('r4', 'Glutem'),
 ('r5', 'Vegetariano'),
 ('r5', 'Vegano'),
 ('r5', 'Glutem'),
 ('r5', 'Lactose')]

In [ ]:
# Criando a tabela registro_voo (id_voo,  st_origem, st_destino, dt_voo)
cur.execute("""
INSERT INTO registro_voo VALUES
  ('v1', "GRU", "REC", "01/02/2024"),
  ('v2', "VCP", "SDU", "15/03/2024"),
  ('v3', "REC", "GRU", "20/06/2024")
""")
# Comitar as inserções
conn.commit()

#Verificar dados na tabela
res = cur.execute("SELECT * FROM registro_voo")
res.fetchall()

[('v1', 'GRU', 'REC', '01/02/2024'),
 ('v2', 'VCP', 'SDU', '15/03/2024'),
 ('v3', 'REC', 'GRU', '20/06/2024')]

#Trabalhando com Instruções auxiliares

A seguir, alguns exercicios serão propostos, usem as seguintes funções para resolvê-los:

*   DISTINCT
*   AS
*   CASE
*   HAVING

## Desafio 1

Desenvolva uma consulta que retorne as categorias de passageiros distintas que existem na companhia SAMBA:

In [ ]:
#Desenvolva sua resposta aqui:
cur.execute("SELECT * FROM registro_passageiros").fetchall()

[('p1', 'Ana Antunes', 'Gold', 'F', '14/06/1999', 'Brasileiro', 'solteiro(a)'),
 ('p2',
  'Mario Marques',
  'Silver',
  'M',
  '06/11/1980',
  'Brasileiro',
  'solteiro(a)'),
 ('p3',
  'Maria Marques',
  'Silver',
  'F',
  '16/10/1976',
  'Brasileiro',
  'divorciado(a)'),
 ('p4',
  'Pietro Palmeira',
  'Silver',
  'M',
  '26/10/1988',
  'Português',
  'casado(a)'),
 ('p5',
  'Pamela Pluma Palmeira',
  'Silver',
  'F',
  '26/10/1988',
  'Brasileiro',
  'Casado(a)'),
 ('p6',
  'Saulo Sauro',
  'Bronze',
  'M',
  '23/11/1998',
  'Brasileiro',
  'solteiro(a)'),
 ('p7',
  'Volverine Valadares',
  'Gold',
  'M',
  '04/04/2006',
  'Brasileiro',
  'solteiro(a)'),
 ('p8',
  'Waldisney Washington',
  'Gold',
  'M',
  '02/05/2000',
  'Brasileiro',
  'divorciado(a)'),
 ('p9',
  'Daniel Dimes',
  'Silver',
  'M',
  '17/09/1995',
  'Brasileiro',
  'solteiro(a)'),
 ('p10',
  'Daniela Dimes',
  'Silver',
  'F',
  '17/09/2023',
  'Brasileiro',
  'solteiro(a)')]

In [ ]:
cur.execute("SELECT st_categoria FROM registro_passageiros").fetchall()

[('Gold',),
 ('Silver',),
 ('Silver',),
 ('Silver',),
 ('Silver',),
 ('Bronze',),
 ('Gold',),
 ('Gold',),
 ('Silver',),
 ('Silver',)]

In [ ]:
cur.execute("SELECT DISTINCT st_categoria FROM registro_passageiros").fetchall()

[('Gold',), ('Silver',), ('Bronze',)]

### Resposta sugerida:

In [ ]:
res = cur.execute("SELECT DISTINCT st_categoria FROM registro_passageiros")
res.fetchall()

[('Gold',), ('Silver',), ('Bronze',)]

## Desafio 2

A precificação da SAMBA é a SEGUINTE:


*   Silver - R$550.6

*   Bronze - R$450.7

*   Gold - R$350.2


Desenvolva uma consulta que retorne o preço de um voo para cada passageiro de acordo com essas regras:

In [ ]:
#Desenvolva sua resposta aqui:
cur.execute("""
SELECT
  id_passageiro,
  st_categoria,
  CASE st_categoria
    WHEN 'Silver' THEN 550.6
    WHEN 'Bronze' THEN 450.7
    WHEN 'Gold' THEN 350.2
  END AS float_preco
FROM
registro_passageiros
""").fetchall()

[('p1', 'Gold', 350.2),
 ('p2', 'Silver', 550.6),
 ('p3', 'Silver', 550.6),
 ('p4', 'Silver', 550.6),
 ('p5', 'Silver', 550.6),
 ('p6', 'Bronze', 450.7),
 ('p7', 'Gold', 350.2),
 ('p8', 'Gold', 350.2),
 ('p9', 'Silver', 550.6),
 ('p10', 'Silver', 550.6)]

### Resposta sugerida:

In [ ]:
res = cur.execute("""
SELECT
  id_passageiro,
  st_nome,
  st_categoria,
  CASE st_categoria
    WHEN 'Silver' THEN 550.6
    WHEN 'Bronze' THEN 450.7
    WHEN 'Gold' THEN 350.2
  END AS float_preco
FROM registro_passageiros
""")
res.fetchall()

NameError: name 'cur' is not defined

## Desafio 3

Desenvolva uma consulta que retorne os códigos de refeições com menos de 3 restrições alimentares:

In [ ]:
#Desenvolva sua resposta aqui:
cur.execute("SELECT * FROM registro_alergicos").fetchall()

[('r1', 'Vegetariano'),
 ('r1', 'Vegano'),
 ('r1', 'Glutem'),
 ('r2', 'Vegetariano'),
 ('r2', 'Vegano'),
 ('r2', 'Glutem'),
 ('r3', 'Castanhas'),
 ('r4', 'Lactose'),
 ('r4', 'Frutos do Mar'),
 ('r4', 'Vegetariano'),
 ('r4', 'Vegano'),
 ('r4', 'Glutem'),
 ('r5', 'Vegetariano'),
 ('r5', 'Vegano'),
 ('r5', 'Glutem'),
 ('r5', 'Lactose')]

In [ ]:
cur.execute("""
SELECT
  id_refeicao,
  COUNT(st_alergico) AS qtd_restricoes
FROM
  registro_alergicos
GROUP BY id_refeicao
""").fetchall()

[('r1', 3), ('r2', 3), ('r3', 1), ('r4', 5), ('r5', 4)]

In [ ]:
cur.execute("""
SELECT
  id_refeicao,
  COUNT(st_alergico) AS qtd_restricoes
FROM
  registro_alergicos
GROUP BY id_refeicao
HAVING qtd_restricoes < 3
""").fetchall()

[('r3', 1)]

### Resposta sugerida:

In [ ]:
res = cur.execute("""
SELECT
  id_refeicao,
  COUNT(st_alergico) as qtd_restricoes
FROM
  registro_alergicos
GROUP BY
  id_refeicao
HAVING
  qtd_restricoes < 3 OR
  qtd_restricoes IS NULL
""")
res.fetchall()

[('r3', 1), ('r4', 2)]

#Trabalhando com Funções Agregadoas

A seguir, alguns exercicios serão propostos, usem as seguintes funções para resolvê-los:

*   AVG()
*   COUNT()
*   MAX()
*   MIN()
*   SUM()

## Desafio 1

Desenvolva uma consulta que retorne o custo médio das refeições da companhia SAMBA:

In [ ]:
#Desenvolva sua resposta aqui:
cur.execute("SELECT * FROM registro_refeicoes").fetchall()

[('r1', 'Frango com Legumes', 20.0),
 ('r2', 'Picadinho de carne', 25.0),
 ('r3', 'Salada com castanhas', 15.0),
 ('r4', 'Risoto de Camarão', 30.0),
 ('r5', 'Hamburguer Combo', 35.0),
 ('r6', 'Hamburguer Vegano Combo', 30.0)]

In [ ]:
cur.execute("SELECT AVG(float_custo) FROM registro_refeicoes").fetchall()

[(25.833333333333332,)]

In [ ]:
cur.execute("SELECT AVG(DISTINCT float_custo) FROM registro_refeicoes").fetchall()

[(25.0,)]

In [ ]:
cur.execute("""
SELECT
  AVG(valor)
FROM  (
  SELECT 20 as valor
  UNION ALL
  SELECT 20
  UNION ALL
  SELECT 10
)
""").fetchall()

[(16.666666666666668,)]

### Resposta sugerida:

In [ ]:
res = cur.execute("SELECT AVG(float_custo) FROM registro_refeicoes")
res.fetchall()

[(25.833333333333332,)]

## Desafio 2

Desenvolva uma consulta que retorne a quantidade de refeições da companhia SAMBA:

In [ ]:
#Desenvolva sua resposta aqui:

### Resposta sugerida:

In [ ]:
res = cur.execute("SELECT COUNT (*) FROM registro_refeicoes")
res.fetchall()

[(6,)]

## Desafio 3

Desenvolva uma consulta que retorne o custo de refeução mais barato e o mais caro da companhia SAMBA:

In [ ]:
#Desenvolva sua resposta aqui:

### Resposta sugerida:

In [ ]:
res = cur.execute("SELECT MAX(float_custo) AS mais_caro, MIN(float_custo) AS mais_barato FROM registro_refeicoes")
res.fetchall()

[(35.0, 15.0)]

## Desafio 4

Desenvolva uma consulta que retorne a soma de custos das refeicoes da companhia SAMBA:

In [ ]:
#Desenvolva sua resposta aqui:

### Resposta sugerida:

In [ ]:
res = cur.execute("SELECT sum(float_custo) AS custo_total FROM registro_refeicoes")
res.fetchall()

[(155.0,)]

#Trabalhando com Uniões

A seguir, alguns exercicios serão propostos, usem as seguintes funções para resolvê-los:

*   INNER JOIN
*   LEFT JOIN
*   RIGHT JOIN
*   INNER JOIN
*   FULL JOIN

## Desafio 1

Desenvolva uma consulta que retorne uma lista de passageros da SAMBA e suas alergias:

In [ ]:
#Desenvolva sua resposta aqui:

### Resposta sugerida:

In [ ]:
res = cur.execute("""
SELECT
  rp.id_passageiro,
  st_nome,
  st_alergia_alimentar
FROM
  registro_passageiros rp
INNER JOIN
  restricao_alimentar ra
  ON rp.id_passageiro = ra.id_passageiro
WHERE st_alergia_alimentar IS NOT NULL
""")
res.fetchall()

[('p2', 'Mario Marques', 'Lactose'),
 ('p3', 'Maria Marques', 'Lactose'),
 ('p7', 'Volverine Valadares', 'Glutem'),
 ('p7', 'Volverine Valadares', 'Frutos do mar'),
 ('p6', 'Saulo Sauro', 'Castanhas')]

## Desafio 2

Desenvolva uma consulta que retorne uma lista de passageros da SAMBA e suas restrições alimentares de forma diferente da anterior:

In [ ]:
#Desenvolva sua resposta aqui:

### Resposta sugerida:

In [ ]:
res = cur.execute("""
SELECT
  rp.id_passageiro,
  st_nome,
  st_restricao_alimentar
FROM
  registro_passageiros rp
LEFT JOIN
  restricao_alimentar ra
  ON rp.id_passageiro = ra.id_passageiro
WHERE st_restricao_alimentar IS NOT NULL
""")
res.fetchall()

[('p1', 'Ana Antunes', 'Vegano'),
 ('p8', 'Waldisney Washington', 'Vegeratiano'),
 ('p6', 'Saulo Sauro', 'Vegetariano')]

## Desafio 3

Desenvolva uma consulta que retorne todas a alergias e restrições dos passageiros:

In [ ]:
#Desenvolva sua resposta aqui:

### Resposta sugerida:

In [ ]:
res = cur.execute("""
SELECT
  rp.id_passageiro,
  st_nome,
  st_alergia_alimentar
FROM
  registro_passageiros rp
INNER JOIN
  restricao_alimentar ra
  ON rp.id_passageiro = ra.id_passageiro
WHERE st_alergia_alimentar IS NOT NULL

UNION ALL

SELECT
  rp.id_passageiro,
  st_nome,
  st_restricao_alimentar
FROM
  registro_passageiros rp
LEFT JOIN
  restricao_alimentar ra
  ON rp.id_passageiro = ra.id_passageiro
WHERE st_restricao_alimentar IS NOT NULL
""")
res.fetchall()

[('p2', 'Mario Marques', 'Lactose'),
 ('p3', 'Maria Marques', 'Lactose'),
 ('p7', 'Volverine Valadares', 'Glutem'),
 ('p7', 'Volverine Valadares', 'Frutos do mar'),
 ('p6', 'Saulo Sauro', 'Castanhas'),
 ('p1', 'Ana Antunes', 'Vegano'),
 ('p8', 'Waldisney Washington', 'Vegetariano'),
 ('p6', 'Saulo Sauro', 'Vegetariano')]

#Trabalhando com consultas complexas e vistas

A seguir, alguns exercicios serão propostos, usem as seguintes funções para resolvê-los:

*   CREATE VIEW
*   DROP VIEW

## Desafio 1

Desenvolva uma consulta que retorne uma lista de passageros da SAMBA e suas alergias e salve ela em uma view chamada passageiros_marcacao_alergia, indicando que alergias devem "exclusão" e restrições "inclusão":

In [ ]:
#Desenvolva sua resposta aqui:

In [ ]:
cur.execute("""
SELECT
  AVG(numero)
FROM
(
SELECT 6 as numero
UNION ALL
SELECT 12
UNION ALL
SELECT 6
)
""").fetchall()

[(6,), (12,), (6,)]

### Resposta sugerida:

In [ ]:
cur.execute("""
CREATE VIEW passageiros_marcacao_alergia
AS
  SELECT
    rp.id_passageiro,
    st_nome,
    st_alergia_alimentar
  FROM
    registro_passageiros rp
  INNER JOIN
    restricao_alimentar ra
    ON rp.id_passageiro = ra.id_passageiro
  WHERE st_alergia_alimentar IS NOT NULL

  UNION ALL

  SELECT
    rp.id_passageiro,
    st_nome,
    st_restricao_alimentar
  FROM
    registro_passageiros rp
  LEFT JOIN
    restricao_alimentar ra
    ON rp.id_passageiro = ra.id_passageiro
  WHERE st_restricao_alimentar IS NOT NULL
""")

res = cur.execute("SELECT * FROM passageiros_marcacao_alergia ORDER BY id_passageiro")
res.fetchall()

[('p1', 'Ana Antunes', 'Vegano'),
 ('p2', 'Mario Marques', 'Lactose'),
 ('p3', 'Maria Marques', 'Lactose'),
 ('p4', 'Pietro Palmeira', 'Frutos do Mar'),
 ('p4', 'Pietro Palmeira', 'Castanhas'),
 ('p6', 'Saulo Sauro', 'Castanhas'),
 ('p6', 'Saulo Sauro', 'Vegetariano'),
 ('p7', 'Volverine Valadares', 'Glutem'),
 ('p7', 'Volverine Valadares', 'Frutos do Mar'),
 ('p8', 'Waldisney Washington', 'Vegetariano')]

## Desafio 2

Desenvolva uma consulta que retorne uma lista de refeições oferecidas pela Companhia da SAMBA e seus apontamentos alergicos e salve ela em uma view chamada refeicoes_marcacao_alergia:

In [ ]:
#Desenvolva sua resposta aqui:

### Resposta sugerida:

In [ ]:
cur.execute("""
CREATE VIEW refeicoes_marcacao_alergia
AS
  SELECT
    rr.id_refeicao,
    st_nome,
    st_alergico
  FROM
    registro_refeicoes rr
  LEFT JOIN
    registro_alergicos ra
    ON rr.id_refeicao = ra.id_refeicao

""")

res = cur.execute("SELECT * FROM refeicoes_marcacao_alergia")
res.fetchall()

[('r1', 'Frango com Legumes', 'Glutem'),
 ('r1', 'Frango com Legumes', 'Vegano'),
 ('r1', 'Frango com Legumes', 'Vegetariano'),
 ('r2', 'Picadinho de carne', 'Glutem'),
 ('r2', 'Picadinho de carne', 'Vegano'),
 ('r2', 'Picadinho de carne', 'Vegetariano'),
 ('r3', 'Salada com castanhas', 'Castanhas'),
 ('r4', 'Risoto de Camarão', 'Frutos do Mar'),
 ('r4', 'Risoto de Camarão', 'Glutem'),
 ('r4', 'Risoto de Camarão', 'Lactose'),
 ('r4', 'Risoto de Camarão', 'Vegano'),
 ('r4', 'Risoto de Camarão', 'Vegetariano'),
 ('r5', 'Hamburguer Combo', 'Glutem'),
 ('r5', 'Hamburguer Combo', 'Lactose'),
 ('r5', 'Hamburguer Combo', 'Vegano'),
 ('r5', 'Hamburguer Combo', 'Vegetariano'),
 ('r6', 'Hamburguer Vegano Combo', None)]

## Desafio 3

Desenvolva uma consulta que retorne o menu possível para cada passageiro, levando em consideração suas restrições:

In [ ]:
#Desenvolva sua resposta aqui:

### Resposta sugerida:

In [ ]:
res = cur.execute("""

  SELECT DISTINCT
    id_passageiro,
    pma.st_nome AS st_nome_passageiro,
    id_refeicao,
    rma.st_nome AS st_nome_refeicao
  FROM
    passageiros_marcacao_alergia pma
  LEFT JOIN
    refeicoes_marcacao_alergia rma
    ON pma.st_alergia_alimentar = rma.st_alergico
  ORDER BY id_passageiro, id_refeicao
""")


res.fetchall()

[('p1', 'Ana Antunes', 'r1', 'Frango com Legumes'),
 ('p1', 'Ana Antunes', 'r2', 'Picadinho de carne'),
 ('p1', 'Ana Antunes', 'r4', 'Risoto de Camarão'),
 ('p1', 'Ana Antunes', 'r5', 'Hamburguer Combo'),
 ('p2', 'Mario Marques', 'r4', 'Risoto de Camarão'),
 ('p2', 'Mario Marques', 'r5', 'Hamburguer Combo'),
 ('p3', 'Maria Marques', 'r4', 'Risoto de Camarão'),
 ('p3', 'Maria Marques', 'r5', 'Hamburguer Combo'),
 ('p4', 'Pietro Palmeira', None, None),
 ('p4', 'Pietro Palmeira', 'r3', 'Salada com castanhas'),
 ('p6', 'Saulo Sauro', 'r1', 'Frango com Legumes'),
 ('p6', 'Saulo Sauro', 'r2', 'Picadinho de carne'),
 ('p6', 'Saulo Sauro', 'r3', 'Salada com castanhas'),
 ('p6', 'Saulo Sauro', 'r4', 'Risoto de Camarão'),
 ('p6', 'Saulo Sauro', 'r5', 'Hamburguer Combo'),
 ('p7', 'Volverine Valadares', None, None),
 ('p7', 'Volverine Valadares', 'r1', 'Frango com Legumes'),
 ('p7', 'Volverine Valadares', 'r2', 'Picadinho de carne'),
 ('p7', 'Volverine Valadares', 'r4', 'Risoto de Camarão'),
 ('p7', 'Volverine Valadares', 'r5', 'Hamburguer Combo'),
 ('p8', 'Waldisney Washington', 'r1', 'Frango com Legumes'),
 ('p8', 'Waldisney Washington', 'r2', 'Picadinho de carne'),
 ('p8', 'Waldisney Washington', 'r4', 'Risoto de Camarão'),
 ('p8', 'Waldisney Washington', 'r5', 'Hamburguer Combo')]

#Desafio extra

A seguir, alguns exercicios serão propostos, usem tudo que aprendeu nessa aula e na anterior para respondê-las.

## Desafio

Desenvolva uma consulta que retorne uma lista de menus possíveis para cada passageiro:

In [ ]:
#Desenvolva sua resposta aqui:

### Resposta sugerida:

In [ ]:
#Observar o resultado completo
res = cur.execute("""
  SELECT DISTINCT
    *
  FROM
    passageiros_marcacao_alergia pma
  LEFT JOIN
    refeicoes_marcacao_alergia rma
    ON pma.st_alergia_alimentar = rma.st_alergico
    OR pma.st_alergia_alimentar <> rma.st_alergico
    OR rma.st_alergico IS NULL
  WHERE id_passageiro = 'p1'
""")
res.fetchall()

[('p1', 'Ana Antunes', 'Vegano', 'r1', 'Frango com Legumes', 'Glutem'),
 ('p1', 'Ana Antunes', 'Vegano', 'r1', 'Frango com Legumes', 'Vegano'),
 ('p1', 'Ana Antunes', 'Vegano', 'r1', 'Frango com Legumes', 'Vegetariano'),
 ('p1', 'Ana Antunes', 'Vegano', 'r2', 'Picadinho de carne', 'Glutem'),
 ('p1', 'Ana Antunes', 'Vegano', 'r2', 'Picadinho de carne', 'Vegano'),
 ('p1', 'Ana Antunes', 'Vegano', 'r2', 'Picadinho de carne', 'Vegetariano'),
 ('p1', 'Ana Antunes', 'Vegano', 'r3', 'Salada com castanhas', 'Castanhas'),
 ('p1', 'Ana Antunes', 'Vegano', 'r4', 'Risoto de Camarão', 'Frutos do Mar'),
 ('p1', 'Ana Antunes', 'Vegano', 'r4', 'Risoto de Camarão', 'Glutem'),
 ('p1', 'Ana Antunes', 'Vegano', 'r4', 'Risoto de Camarão', 'Lactose'),
 ('p1', 'Ana Antunes', 'Vegano', 'r4', 'Risoto de Camarão', 'Vegano'),
 ('p1', 'Ana Antunes', 'Vegano', 'r4', 'Risoto de Camarão', 'Vegetariano'),
 ('p1', 'Ana Antunes', 'Vegano', 'r5', 'Hamburguer Combo', 'Glutem'),
 ('p1', 'Ana Antunes', 'Vegano', 'r5', 'Hamburguer Combo', 'Lactose'),
 ('p1', 'Ana Antunes', 'Vegano', 'r5', 'Hamburguer Combo', 'Vegano'),
 ('p1', 'Ana Antunes', 'Vegano', 'r5', 'Hamburguer Combo', 'Vegetariano'),
 ('p1', 'Ana Antunes', 'Vegano', 'r6', 'Hamburguer Vegano Combo', None)]

Notei que assim, poderia marcar quando a refeição é alérgica ou não, sendo assim, segui da seguite forma:

In [ ]:
#Observar o resultado completo
res = cur.execute("""
  SELECT DISTINCT
    *,
    CASE
      WHEN rma.st_alergico = pma.st_alergia_alimentar THEN 1
      WHEN rma.st_alergico IS NULL THEN 0
      ELSE 0
    END AS in_contra_indicacao
  FROM
    passageiros_marcacao_alergia pma
  LEFT JOIN
    refeicoes_marcacao_alergia rma
    ON pma.st_alergia_alimentar = rma.st_alergico
    OR pma.st_alergia_alimentar <> rma.st_alergico
    OR rma.st_alergico IS NULL
  WHERE id_passageiro = 'p1'
  ORDER BY id_passageiro, id_refeicao
""")
res.fetchall()

[('p1', 'Ana Antunes', 'Vegano', 'r1', 'Frango com Legumes', 'Glutem', 0),
 ('p1', 'Ana Antunes', 'Vegano', 'r1', 'Frango com Legumes', 'Vegano', 1),
 ('p1', 'Ana Antunes', 'Vegano', 'r1', 'Frango com Legumes', 'Vegetariano', 0),
 ('p1', 'Ana Antunes', 'Vegano', 'r2', 'Picadinho de carne', 'Glutem', 0),
 ('p1', 'Ana Antunes', 'Vegano', 'r2', 'Picadinho de carne', 'Vegano', 1),
 ('p1', 'Ana Antunes', 'Vegano', 'r2', 'Picadinho de carne', 'Vegetariano', 0),
 ('p1', 'Ana Antunes', 'Vegano', 'r3', 'Salada com castanhas', 'Castanhas', 0),
 ('p1',
  'Ana Antunes',
  'Vegano',
  'r4',
  'Risoto de Camarão',
  'Frutos do Mar',
  0),
 ('p1', 'Ana Antunes', 'Vegano', 'r4', 'Risoto de Camarão', 'Glutem', 0),
 ('p1', 'Ana Antunes', 'Vegano', 'r4', 'Risoto de Camarão', 'Lactose', 0),
 ('p1', 'Ana Antunes', 'Vegano', 'r4', 'Risoto de Camarão', 'Vegano', 1),
 ('p1', 'Ana Antunes', 'Vegano', 'r4', 'Risoto de Camarão', 'Vegetariano', 0),
 ('p1', 'Ana Antunes', 'Vegano', 'r5', 'Hamburguer Combo', 'Glutem', 0),
 ('p1', 'Ana Antunes', 'Vegano', 'r5', 'Hamburguer Combo', 'Lactose', 0),
 ('p1', 'Ana Antunes', 'Vegano', 'r5', 'Hamburguer Combo', 'Vegano', 1),
 ('p1', 'Ana Antunes', 'Vegano', 'r5', 'Hamburguer Combo', 'Vegetariano', 0),
 ('p1', 'Ana Antunes', None, 'r6', 'Hamburguer Vegano Combo', None, 0),
 ('p1', 'Ana Antunes', 'Vegano', 'r6', 'Hamburguer Vegano Combo', None, 0)]

Satisfeita com minha marcação, segui para o agrupamento:

In [ ]:
#Observar o resultado completo
res = cur.execute("""
  SELECT DISTINCT
    id_passageiro,
    pma.st_nome AS st_nome_passageiro,
    id_refeicao,
    rma.st_nome AS st_nome_refeicao,
    MAX(CASE
      WHEN rma.st_alergico = pma.st_alergia_alimentar THEN 1
      WHEN rma.st_alergico IS NULL THEN 0
      ELSE 0
    END ) AS in_contra_indicacao
  FROM
    passageiros_marcacao_alergia pma
  LEFT JOIN
    refeicoes_marcacao_alergia rma
    ON pma.st_alergia_alimentar = rma.st_alergico
    OR pma.st_alergia_alimentar <> rma.st_alergico
    OR rma.st_alergico IS NULL
  WHERE id_passageiro = 'p1'
  GROUP BY id_passageiro, st_nome_passageiro, id_refeicao, st_nome_refeicao
  ORDER BY id_passageiro, id_refeicao
""")
res.fetchall()

[('p1', 'Ana Antunes', 'r1', 'Frango com Legumes', 1),
 ('p1', 'Ana Antunes', 'r2', 'Picadinho de carne', 1),
 ('p1', 'Ana Antunes', 'r3', 'Salada com castanhas', 0),
 ('p1', 'Ana Antunes', 'r4', 'Risoto de Camarão', 1),
 ('p1', 'Ana Antunes', 'r5', 'Hamburguer Combo', 1),
 ('p1', 'Ana Antunes', 'r6', 'Hamburguer Vegano Combo', 0)]

Após o resultado seguido, começei a validar os outros passageiros e descobri um problema:

In [ ]:
#Observar o resultado completo
res = cur.execute("""
  SELECT DISTINCT
    id_passageiro,
    pma.st_nome AS st_nome_passageiro,
    id_refeicao,
    rma.st_nome AS st_nome_refeicao,
    MAX(CASE
      WHEN rma.st_alergico = pma.st_alergia_alimentar THEN 1
      WHEN rma.st_alergico IS NULL THEN 0
      ELSE 0
    END ) AS in_contra_indicacao
  FROM
    passageiros_marcacao_alergia pma
  LEFT JOIN
    refeicoes_marcacao_alergia rma
    ON pma.st_alergia_alimentar = rma.st_alergico
    OR pma.st_alergia_alimentar <> rma.st_alergico
    OR rma.st_alergico IS NULL
  WHERE id_passageiro = 'p5'
  GROUP BY id_passageiro, st_nome_passageiro, id_refeicao, st_nome_refeicao
  ORDER BY id_passageiro, id_refeicao
""")
res.fetchall()

[]

In [ ]:
#Apagar a vista sem o dado
cur.execute("DROP VIEW passageiros_marcacao_alergia")

Eu recupero a view de criação e tiro as clausulas de NULL:

In [ ]:
res = cur.execute("""

  SELECT
    rp.id_passageiro,
    st_nome,
    st_alergia_alimentar
  FROM
    registro_passageiros rp
  INNER JOIN
    restricao_alimentar ra
    ON rp.id_passageiro = ra.id_passageiro
  --WHERE st_alergia_alimentar IS NOT NULL

  UNION ALL

  SELECT
    rp.id_passageiro,
    st_nome,
    st_restricao_alimentar
  FROM
    registro_passageiros rp
  LEFT JOIN
    restricao_alimentar ra
    ON rp.id_passageiro = ra.id_passageiro
  --WHERE st_restricao_alimentar IS NOT NULL


""")

res.fetchall()

[('p2', 'Mario Marques', 'Lactose'),
 ('p3', 'Maria Marques', 'Lactose'),
 ('p4', 'Pietro Palmeira', 'Frutos do Mar'),
 ('p4', 'Pietro Palmeira', 'Castanhas'),
 ('p7', 'Volverine Valadares', 'Glutem'),
 ('p7', 'Volverine Valadares', 'Frutos do Mar'),
 ('p1', 'Ana Antunes', None),
 ('p8', 'Waldisney Washington', None),
 ('p6', 'Saulo Sauro', 'Castanhas'),
 ('p1', 'Ana Antunes', 'Vegano'),
 ('p2', 'Mario Marques', None),
 ('p3', 'Maria Marques', None),
 ('p4', 'Pietro Palmeira', None),
 ('p4', 'Pietro Palmeira', None),
 ('p5', 'Pamela Pluma Palmeira', None),
 ('p6', 'Saulo Sauro', 'Vegetariano'),
 ('p7', 'Volverine Valadares', None),
 ('p7', 'Volverine Valadares', None),
 ('p8', 'Waldisney Washington', 'Vegetariano'),
 ('p9', 'Daniel Dimes', None),
 ('p10', 'Daniela Dimes', None)]

In [ ]:
cur.execute("""
CREATE VIEW passageiros_marcacao_alergia
AS
  SELECT
    rp.id_passageiro,
    st_nome,
    st_alergia_alimentar
  FROM
    registro_passageiros rp
  INNER JOIN
    restricao_alimentar ra
    ON rp.id_passageiro = ra.id_passageiro

  UNION ALL

  SELECT
    rp.id_passageiro,
    st_nome,
    st_restricao_alimentar
  FROM
    registro_passageiros rp
  LEFT JOIN
    restricao_alimentar ra
    ON rp.id_passageiro = ra.id_passageiro

""")

res = cur.execute("SELECT * FROM passageiros_marcacao_alergia")
res.fetchall()

[('p2', 'Mario Marques', 'Lactose'),
 ('p3', 'Maria Marques', 'Lactose'),
 ('p4', 'Pietro Palmeira', 'Frutos do Mar'),
 ('p4', 'Pietro Palmeira', 'Castanhas'),
 ('p7', 'Volverine Valadares', 'Glutem'),
 ('p7', 'Volverine Valadares', 'Frutos do Mar'),
 ('p1', 'Ana Antunes', None),
 ('p8', 'Waldisney Washington', None),
 ('p6', 'Saulo Sauro', 'Castanhas'),
 ('p1', 'Ana Antunes', 'Vegano'),
 ('p2', 'Mario Marques', None),
 ('p3', 'Maria Marques', None),
 ('p4', 'Pietro Palmeira', None),
 ('p4', 'Pietro Palmeira', None),
 ('p5', 'Pamela Pluma Palmeira', None),
 ('p6', 'Saulo Sauro', 'Vegetariano'),
 ('p7', 'Volverine Valadares', None),
 ('p7', 'Volverine Valadares', None),
 ('p8', 'Waldisney Washington', 'Vegetariano'),
 ('p9', 'Daniel Dimes', None),
 ('p10', 'Daniela Dimes', None)]

E vou tentar minha consulta inicial:

In [ ]:
#Observar o resultado completo
res = cur.execute("""
  SELECT DISTINCT
    id_passageiro,
    pma.st_nome AS st_nome_passageiro,
    id_refeicao,
    rma.st_nome AS st_nome_refeicao,
    MAX(CASE
      WHEN rma.st_alergico = pma.st_alergia_alimentar THEN 1
      WHEN rma.st_alergico IS NULL THEN 0
      ELSE 0
    END ) AS in_contra_indicacao
  FROM
    passageiros_marcacao_alergia pma
  LEFT JOIN
    refeicoes_marcacao_alergia rma
    ON pma.st_alergia_alimentar = rma.st_alergico
    OR pma.st_alergia_alimentar <> rma.st_alergico
    OR rma.st_alergico IS NULL
  WHERE id_passageiro = 'p5'
  GROUP BY id_passageiro, st_nome_passageiro, id_refeicao, st_nome_refeicao
  ORDER BY id_passageiro, id_refeicao
""")
res.fetchall()

[('p5', 'Pamela Pluma Palmeira', 'r6', 'Hamburguer Vegano Combo', 0)]

Ajusto a questão do null para aparecer tudo mesmo:
Faltou a parte do null da tabela a direita (OR pma.st_alergia_alimentar IS NULL)

In [ ]:
#Observar o resultado completo
res = cur.execute("""
  SELECT DISTINCT
    id_passageiro,
    pma.st_nome AS st_nome_passageiro,
    id_refeicao,
    rma.st_nome AS st_nome_refeicao,
    MAX(CASE
      WHEN rma.st_alergico = pma.st_alergia_alimentar THEN 1
      WHEN rma.st_alergico IS NULL THEN 0
      ELSE 0
    END ) AS in_contra_indicacao
  FROM
    passageiros_marcacao_alergia pma
  LEFT JOIN
    refeicoes_marcacao_alergia rma
    ON pma.st_alergia_alimentar = rma.st_alergico
    OR pma.st_alergia_alimentar <> rma.st_alergico
    OR rma.st_alergico IS NULL
    OR pma.st_alergia_alimentar IS NULL
  WHERE id_passageiro = 'p5'
  GROUP BY id_passageiro, st_nome_passageiro, id_refeicao, st_nome_refeicao
  ORDER BY id_passageiro, id_refeicao
""")
res.fetchall()

[('p5', 'Pamela Pluma Palmeira', 'r1', 'Frango com Legumes', 0),
 ('p5', 'Pamela Pluma Palmeira', 'r2', 'Picadinho de carne', 0),
 ('p5', 'Pamela Pluma Palmeira', 'r3', 'Salada com castanhas', 0),
 ('p5', 'Pamela Pluma Palmeira', 'r4', 'Risoto de Camarão', 0),
 ('p5', 'Pamela Pluma Palmeira', 'r5', 'Hamburguer Combo', 0),
 ('p5', 'Pamela Pluma Palmeira', 'r6', 'Hamburguer Vegano Combo', 0)]

Satisfeita com minha consulta, meu código final é:

In [ ]:
#Observar o resultado completo
res = cur.execute("""
  SELECT DISTINCT
    id_passageiro,
    pma.st_nome AS st_nome_passageiro,
    id_refeicao,
    rma.st_nome AS st_nome_refeicao,
    MAX(CASE
      WHEN rma.st_alergico = pma.st_alergia_alimentar THEN 1
      WHEN rma.st_alergico IS NULL THEN 0
      ELSE 0
    END ) AS in_contra_indicacao
  FROM
    passageiros_marcacao_alergia pma
  LEFT JOIN
    refeicoes_marcacao_alergia rma
    ON pma.st_alergia_alimentar = rma.st_alergico
    OR pma.st_alergia_alimentar <> rma.st_alergico
    OR rma.st_alergico IS NULL
    OR pma.st_alergia_alimentar IS NULL
  GROUP BY id_passageiro, st_nome_passageiro, id_refeicao, st_nome_refeicao
  ORDER BY id_passageiro, id_refeicao
""")
res.fetchall()

[('p1', 'Ana Antunes', 'r1', 'Frango com Legumes', 1),
 ('p1', 'Ana Antunes', 'r2', 'Picadinho de carne', 1),
 ('p1', 'Ana Antunes', 'r3', 'Salada com castanhas', 0),
 ('p1', 'Ana Antunes', 'r4', 'Risoto de Camarão', 1),
 ('p1', 'Ana Antunes', 'r5', 'Hamburguer Combo', 1),
 ('p1', 'Ana Antunes', 'r6', 'Hamburguer Vegano Combo', 0),
 ('p10', 'Daniela Dimes', 'r1', 'Frango com Legumes', 0),
 ('p10', 'Daniela Dimes', 'r2', 'Picadinho de carne', 0),
 ('p10', 'Daniela Dimes', 'r3', 'Salada com castanhas', 0),
 ('p10', 'Daniela Dimes', 'r4', 'Risoto de Camarão', 0),
 ('p10', 'Daniela Dimes', 'r5', 'Hamburguer Combo', 0),
 ('p10', 'Daniela Dimes', 'r6', 'Hamburguer Vegano Combo', 0),
 ('p2', 'Mario Marques', 'r1', 'Frango com Legumes', 0),
 ('p2', 'Mario Marques', 'r2', 'Picadinho de carne', 0),
 ('p2', 'Mario Marques', 'r3', 'Salada com castanhas', 0),
 ('p2', 'Mario Marques', 'r4', 'Risoto de Camarão', 1),
 ('p2', 'Mario Marques', 'r5', 'Hamburguer Combo', 1),
 ('p2', 'Mario Marques', 'r6', 'Hamburguer Vegano Combo', 0),
 ('p3', 'Maria Marques', 'r1', 'Frango com Legumes', 0),
 ('p3', 'Maria Marques', 'r2', 'Picadinho de carne', 0),
 ('p3', 'Maria Marques', 'r3', 'Salada com castanhas', 0),
 ('p3', 'Maria Marques', 'r4', 'Risoto de Camarão', 1),
 ('p3', 'Maria Marques', 'r5', 'Hamburguer Combo', 1),
 ('p3', 'Maria Marques', 'r6', 'Hamburguer Vegano Combo', 0),
 ('p4', 'Pietro Palmeira', 'r1', 'Frango com Legumes', 0),
 ('p4', 'Pietro Palmeira', 'r2', 'Picadinho de carne', 0),
 ('p4', 'Pietro Palmeira', 'r3', 'Salada com castanhas', 1),
 ('p4', 'Pietro Palmeira', 'r4', 'Risoto de Camarão', 1),
 ('p4', 'Pietro Palmeira', 'r5', 'Hamburguer Combo', 0),
 ('p4', 'Pietro Palmeira', 'r6', 'Hamburguer Vegano Combo', 0),
 ('p5', 'Pamela Pluma Palmeira', 'r1', 'Frango com Legumes', 0),
 ('p5', 'Pamela Pluma Palmeira', 'r2', 'Picadinho de carne', 0),
 ('p5', 'Pamela Pluma Palmeira', 'r3', 'Salada com castanhas', 0),
 ('p5', 'Pamela Pluma Palmeira', 'r4', 'Risoto de Camarão', 0),
 ('p5', 'Pamela Pluma Palmeira', 'r5', 'Hamburguer Combo', 0),
 ('p5', 'Pamela Pluma Palmeira', 'r6', 'Hamburguer Vegano Combo', 0),
 ('p6', 'Saulo Sauro', 'r1', 'Frango com Legumes', 1),
 ('p6', 'Saulo Sauro', 'r2', 'Picadinho de carne', 1),
 ('p6', 'Saulo Sauro', 'r3', 'Salada com castanhas', 1),
 ('p6', 'Saulo Sauro', 'r4', 'Risoto de Camarão', 1),
 ('p6', 'Saulo Sauro', 'r5', 'Hamburguer Combo', 1),
 ('p6', 'Saulo Sauro', 'r6', 'Hamburguer Vegano Combo', 0),
 ('p7', 'Volverine Valadares', 'r1', 'Frango com Legumes', 1),
 ('p7', 'Volverine Valadares', 'r2', 'Picadinho de carne', 1),
 ('p7', 'Volverine Valadares', 'r3', 'Salada com castanhas', 0),
 ('p7', 'Volverine Valadares', 'r4', 'Risoto de Camarão', 1),
 ('p7', 'Volverine Valadares', 'r5', 'Hamburguer Combo', 1),
 ('p7', 'Volverine Valadares', 'r6', 'Hamburguer Vegano Combo', 0),
 ('p8', 'Waldisney Washington', 'r1', 'Frango com Legumes', 1),
 ('p8', 'Waldisney Washington', 'r2', 'Picadinho de carne', 1),
 ('p8', 'Waldisney Washington', 'r3', 'Salada com castanhas', 0),
 ('p8', 'Waldisney Washington', 'r4', 'Risoto de Camarão', 1),
 ('p8', 'Waldisney Washington', 'r5', 'Hamburguer Combo', 1),
 ('p8', 'Waldisney Washington', 'r6', 'Hamburguer Vegano Combo', 0),
 ('p9', 'Daniel Dimes', 'r1', 'Frango com Legumes', 0),
 ('p9', 'Daniel Dimes', 'r2', 'Picadinho de carne', 0),
 ('p9', 'Daniel Dimes', 'r3', 'Salada com castanhas', 0),
 ('p9', 'Daniel Dimes', 'r4', 'Risoto de Camarão', 0),
 ('p9', 'Daniel Dimes', 'r5', 'Hamburguer Combo', 0),
 ('p9', 'Daniel Dimes', 'r6', 'Hamburguer Vegano Combo', 0)]

E para responder a dúvida inicial de menu, tenho então:

In [ ]:
#Observar o resultado completo
cur.execute("""
CREATE VIEW relacao_refeicoes_indicadas
AS
  SELECT DISTINCT
    id_passageiro,
    pma.st_nome AS st_nome_passageiro,
    id_refeicao,
    rma.st_nome AS st_nome_refeicao,
    MAX(CASE
      WHEN rma.st_alergico = pma.st_alergia_alimentar THEN 1
      WHEN rma.st_alergico IS NULL THEN 0
      ELSE 0
    END ) AS in_contra_indicacao
  FROM
    passageiros_marcacao_alergia pma
  LEFT JOIN
    refeicoes_marcacao_alergia rma
    ON pma.st_alergia_alimentar = rma.st_alergico
    OR pma.st_alergia_alimentar <> rma.st_alergico
    OR rma.st_alergico IS NULL
    OR pma.st_alergia_alimentar IS NULL
  GROUP BY id_passageiro, st_nome_passageiro, id_refeicao, st_nome_refeicao
  ORDER BY id_passageiro, id_refeicao
""")

res = cur.execute(" SELECT * FROM relacao_refeicoes_indicadas WHERE in_contra_indicacao = 0")
res.fetchall()

[('p1', 'Ana Antunes', 'r3', 'Salada com castanhas', 0),
 ('p1', 'Ana Antunes', 'r6', 'Hamburguer Vegano Combo', 0),
 ('p10', 'Daniela Dimes', 'r1', 'Frango com Legumes', 0),
 ('p10', 'Daniela Dimes', 'r2', 'Picadinho de carne', 0),
 ('p10', 'Daniela Dimes', 'r3', 'Salada com castanhas', 0),
 ('p10', 'Daniela Dimes', 'r4', 'Risoto de Camarão', 0),
 ('p10', 'Daniela Dimes', 'r5', 'Hamburguer Combo', 0),
 ('p10', 'Daniela Dimes', 'r6', 'Hamburguer Vegano Combo', 0),
 ('p2', 'Mario Marques', 'r1', 'Frango com Legumes', 0),
 ('p2', 'Mario Marques', 'r2', 'Picadinho de carne', 0),
 ('p2', 'Mario Marques', 'r3', 'Salada com castanhas', 0),
 ('p2', 'Mario Marques', 'r6', 'Hamburguer Vegano Combo', 0),
 ('p3', 'Maria Marques', 'r1', 'Frango com Legumes', 0),
 ('p3', 'Maria Marques', 'r2', 'Picadinho de carne', 0),
 ('p3', 'Maria Marques', 'r3', 'Salada com castanhas', 0),
 ('p3', 'Maria Marques', 'r6', 'Hamburguer Vegano Combo', 0),
 ('p4', 'Pietro Palmeira', 'r1', 'Frango com Legumes', 0),
 ('p4', 'Pietro Palmeira', 'r2', 'Picadinho de carne', 0),
 ('p4', 'Pietro Palmeira', 'r5', 'Hamburguer Combo', 0),
 ('p4', 'Pietro Palmeira', 'r6', 'Hamburguer Vegano Combo', 0),
 ('p5', 'Pamela Pluma Palmeira', 'r1', 'Frango com Legumes', 0),
 ('p5', 'Pamela Pluma Palmeira', 'r2', 'Picadinho de carne', 0),
 ('p5', 'Pamela Pluma Palmeira', 'r3', 'Salada com castanhas', 0),
 ('p5', 'Pamela Pluma Palmeira', 'r4', 'Risoto de Camarão', 0),
 ('p5', 'Pamela Pluma Palmeira', 'r5', 'Hamburguer Combo', 0),
 ('p5', 'Pamela Pluma Palmeira', 'r6', 'Hamburguer Vegano Combo', 0),
 ('p6', 'Saulo Sauro', 'r6', 'Hamburguer Vegano Combo', 0),
 ('p7', 'Volverine Valadares', 'r3', 'Salada com castanhas', 0),
 ('p7', 'Volverine Valadares', 'r6', 'Hamburguer Vegano Combo', 0),
 ('p8', 'Waldisney Washington', 'r3', 'Salada com castanhas', 0),
 ('p8', 'Waldisney Washington', 'r6', 'Hamburguer Vegano Combo', 0),
 ('p9', 'Daniel Dimes', 'r1', 'Frango com Legumes', 0),
 ('p9', 'Daniel Dimes', 'r2', 'Picadinho de carne', 0),
 ('p9', 'Daniel Dimes', 'r3', 'Salada com castanhas', 0),
 ('p9', 'Daniel Dimes', 'r4', 'Risoto de Camarão', 0),
 ('p9', 'Daniel Dimes', 'r5', 'Hamburguer Combo', 0),
 ('p9', 'Daniel Dimes', 'r6', 'Hamburguer Vegano Combo', 0)]

In [ ]:
res = cur.execute("""
  SELECT
    *
  FROM
    relacao_refeicoes_indicadas
  WHERE
    in_contra_indicacao = 0
  ORDER BY id_passageiro, id_refeicao
""")
res.fetchall()

[('p1', 'Ana Antunes', 'r3', 'Salada com castanhas', 0),
 ('p1', 'Ana Antunes', 'r6', 'Hamburguer Vegano Combo', 0),
 ('p10', 'Daniela Dimes', 'r1', 'Frango com Legumes', 0),
 ('p10', 'Daniela Dimes', 'r2', 'Picadinho de carne', 0),
 ('p10', 'Daniela Dimes', 'r3', 'Salada com castanhas', 0),
 ('p10', 'Daniela Dimes', 'r4', 'Risoto de Camarão', 0),
 ('p10', 'Daniela Dimes', 'r5', 'Hamburguer Combo', 0),
 ('p10', 'Daniela Dimes', 'r6', 'Hamburguer Vegano Combo', 0),
 ('p2', 'Mario Marques', 'r1', 'Frango com Legumes', 0),
 ('p2', 'Mario Marques', 'r2', 'Picadinho de carne', 0),
 ('p2', 'Mario Marques', 'r3', 'Salada com castanhas', 0),
 ('p2', 'Mario Marques', 'r6', 'Hamburguer Vegano Combo', 0),
 ('p3', 'Maria Marques', 'r1', 'Frango com Legumes', 0),
 ('p3', 'Maria Marques', 'r2', 'Picadinho de carne', 0),
 ('p3', 'Maria Marques', 'r3', 'Salada com castanhas', 0),
 ('p3', 'Maria Marques', 'r6', 'Hamburguer Vegano Combo', 0),
 ('p4', 'Pietro Palmeira', 'r1', 'Frango com Legumes', 0),
 ('p4', 'Pietro Palmeira', 'r2', 'Picadinho de carne', 0),
 ('p4', 'Pietro Palmeira', 'r5', 'Hamburguer Combo', 0),
 ('p4', 'Pietro Palmeira', 'r6', 'Hamburguer Vegano Combo', 0),
 ('p5', 'Pamela Pluma Palmeira', 'r1', 'Frango com Legumes', 0),
 ('p5', 'Pamela Pluma Palmeira', 'r2', 'Picadinho de carne', 0),
 ('p5', 'Pamela Pluma Palmeira', 'r3', 'Salada com castanhas', 0),
 ('p5', 'Pamela Pluma Palmeira', 'r4', 'Risoto de Camarão', 0),
 ('p5', 'Pamela Pluma Palmeira', 'r5', 'Hamburguer Combo', 0),
 ('p5', 'Pamela Pluma Palmeira', 'r6', 'Hamburguer Vegano Combo', 0),
 ('p6', 'Saulo Sauro', 'r6', 'Hamburguer Vegano Combo', 0),
 ('p7', 'Volverine Valadares', 'r3', 'Salada com castanhas', 0),
 ('p7', 'Volverine Valadares', 'r6', 'Hamburguer Vegano Combo', 0),
 ('p8', 'Waldisney Washington', 'r3', 'Salada com castanhas', 0),
 ('p8', 'Waldisney Washington', 'r6', 'Hamburguer Vegano Combo', 0),
 ('p9', 'Daniel Dimes', 'r1', 'Frango com Legumes', 0),
 ('p9', 'Daniel Dimes', 'r2', 'Picadinho de carne', 0),
 ('p9', 'Daniel Dimes', 'r3', 'Salada com castanhas', 0),
 ('p9', 'Daniel Dimes', 'r4', 'Risoto de Camarão', 0),
 ('p9', 'Daniel Dimes', 'r5', 'Hamburguer Combo', 0),
 ('p9', 'Daniel Dimes', 'r6', 'Hamburguer Vegano Combo', 0)]